@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?vxcsb6');
    src: url('fonts/icomoon.eot?vxcsb6#iefix') format('embedded-opentype'),
         url('fonts/icomoon.ttf?vxcsb6') format('truetype'),
         url('fonts/icomoon.woff?vxcsb6') format('woff'),
         url('fonts/icomoon.svg?vxcsb6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before { content: "\e900"; }
.icon-working:before { content: "\e902"; }
.icon-edit:before { content: "\e901"; }
.icon-remove:before { content: "\e903"; }
.icon-add:before { content: "\e904"; }

[class^="icon-"], [class*=" icon-"] {
    padding-right: 4px;
    position: relative;
    top: 1px;
}

.directions {
    margin: 30px 40px 80px;
}

.controls {
    margin-bottom: 20px;
    height: 34px;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 0 30px;
    top: 140px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.build {
    display: none;
    float: right;
}
.build > div {
    float: left;
}
.adding {
    margin-right: 20px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}
.adding .btn {
    border-color: #f80046;
    color: #f80046;
}
.adding .btn:hover {
    border-color: #DF003F;
    background: #DF003F;
    color: #fff;
}
.btn {
    display: inline-block;
    padding: 5px 10px 5px 7px;
    border: 1px solid #3a3a3a;
    margin-left: 10px;
    border-radius: 3px;
    color: #3a3a3a;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    float: left;
}
.build > div .btn:first-child {
    margin-left: 0;
}
.btn:hover {
    border-color: #DF003F;
    color: #DF003F;
}
.btn.active, .btn.active span {
    color: #f80046;
}
.btn.js-seralize, .lockDown {
	float: left;
	padding: 5px 15px;
	border-color: #f80046;
	background: #f80046;
	color: #fff;
}
.btn.js-seralize:hover, .lockDown:hover {
	border-color: #DF003F;
	background: #DF003F;
}
.lockDown {
    display: none;
}
.trashed {
    display: none !important;
}
.gridster .gs-w.blocking, .gridster .gs-w.divider.blocking {
    background: url('../images/blocking.png')repeat top left;
}
.gridster .gs-w.blocking:after {
    opacity: .25;
}
