/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html,
button,
input,
select,
textarea {
	color: #222;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

.gridster * {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
}


/*/ demo /*/
body, html {
	margin: 0;
	padding: 0; 
}
body {
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif;
	color: #3a3a3a;
	position: relative;
}


/*/ gridster /*/
.gridster {
	margin: 0 auto;
	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-o-transition: opacity .6s;
	-ms-transition: opacity .6s;
	transition: opacity .6s;
}

.gridster ul {
	background-color: #EFEFEF;
	margin: 0 auto;
}

.seventeen.gridster ul {
	width: 2380px;
}

.thirtySix.gridster ul {
	width: 5040px;
}

.gridster li {
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	line-height: 100%;
}

.gridster .gs_w {
	background: #DDD;
	cursor: pointer;
}
.gridster .gs_w.box {
	background: #fff;
}
.gridster .gs_w.thru,
.gridster .gs_w.doubled,
.gridster .gs_w.tripled,
.gridster .gs_w.tripled.blocking,
.gridster .gs_w.trashed,
.gridster .gs_w.connector {
	background: transparent;
}
.gridster .gs_w:after,
.gridster .gs_w.doubled .box:after,
.gridster .gs_w.tripled .box:after,
.gridster .gs_w.doubled .blocking:after,
.gridster .gs_w.tripled .blocking:after,
.gridster .gs_w.connector:after,
.gridster .gs_w.tripled.connector:after {
	content: "";
	background: #333;
	display: block;
	width: 5px;
	height: 10px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	-ms-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	transform: translate(-50%,0);
}
.gridster .gs_w.connector:after,
.gridster .gs_w.tripled .connector:after {
	width: 150px;
	height: 5px;
	bottom: 30px;
}
.gridster .gs_w.connector.halfedRight:after {
	width: 210px;
	left: 81%;
}
.gridster .gs_w.connector.halfedLeft:after {
	width: 205px;
	left: 22%;
}
.gridster .gs_w.tripled .connector:after {
	left: 115%;
	width: 245px;
}
.spannerBlock.spanner3_create.gs_w.box_unlocked.connector:nth-of-type(2).connector:after {
	width: 5px;
	height: 40px;
}
.gridster .gs_w.thru:after {
	height: 75px;
}
.gridster .gs_w.thru.halfedLeft:after {
	height: 15px;
	bottom: 20px;
}
.gridster .gs_w.tripled .gs_w:nth-of-type(2):after {
	height: 40px;
	bottom: 0;
	width: 5px;
	left: -40px;
}
.gridster .gs_w.divider.thru:after {
	height: 15px;
}
.gridster .gs_w.reachRight:after,
.gridster .gs_w.reachLeft:after {
	height: 15px;
}
.gridster .gs_w.divider.reachLeft {
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 50%, rgba(51,51,51,0) 50.001%, rgba(51,51,51,0) 100%);
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 50%,rgba(51,51,51,0) 50.001%,rgba(51,51,51,0) 100%);
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 50%,rgba(51,51,51,0) 50.001%,rgba(51,51,51,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#00333333',GradientType=1 );
}
.gridster .gs_w.divider.reachRight {
	background: -moz-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,0) 50%, rgba(51,51,51,1) 50.001%, rgba(51,51,51,1) 100%);
	background: -webkit-linear-gradient(left, rgba(51,51,51,0) 0%,rgba(51,51,51,0) 50%,rgba(51,51,51,1) 50.001%,rgba(51,51,51,1) 100%);
	background: linear-gradient(to right, rgba(51,51,51,0) 0%,rgba(51,51,51,0) 50%,rgba(51,51,51,1) 50.001%,rgba(51,51,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#333333',GradientType=1 );
}
.gridster .gs_w.divider.reachLeft.spannerBlock {
	background: -moz-linear-gradient(left, rgba(51,51,51,1) 0%, rgba(51,51,51,1) 52%, rgba(51,51,51,0) 52.001%, rgba(51,51,51,0) 100%);
	background: -webkit-linear-gradient(left, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 52%,rgba(51,51,51,0) 52.001%,rgba(51,51,51,0) 100%);
	background: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,1) 52%,rgba(51,51,51,0) 52.001%,rgba(51,51,51,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#00333333',GradientType=1 );
}
.gridster .gs_w.divider.reachRight.spannerBlock {
	background: -moz-linear-gradient(left, rgba(51,51,51,0) 0%, rgba(51,51,51,0) 48.25%, rgba(51,51,51,1) 48.251%, rgba(51,51,51,1) 100%);
	background: -webkit-linear-gradient(left, rgba(51,51,51,0) 0%,rgba(51,51,51,0) 48.25%,rgba(51,51,51,1) 48.251%,rgba(51,51,51,1) 100%);
	background: linear-gradient(to right, rgba(51,51,51,0) 0%,rgba(51,51,51,0) 48.25%,rgba(51,51,51,1) 48.251%,rgba(51,51,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#333333',GradientType=1 );
}
.gridster .gs_w.divider.full {
	background: #333;
}
.divider:before {
	content: "";
	display: block;
	height: 5px;
	width: 12px;
	background: #333;
	position: absolute;
}
.reachLeft.divider:before {
	left: -11px;
}
.spannerBlock.reachLeft.divider:before {
	left: -104px;
	width: 104px;
}
.gridster .gs_w.tripled .spannerBlock.reachLeft.divider.gs_w:nth-last-of-type(2):before {
	left: -69px;
	width: 69px;
}
.gridster .gs_w.tripled .spannerBlock.reachLeft.divider.gs_w:nth-of-type(2):before {
	left: -11px;
	width: 11px;
}
.reachRight.divider:before, .full.divider:before {
	left: 129px;
}
.reachRight.doubled.divider:before,
.full.doubled.divider:before,
.reachRight.tripled.divider:before,
.full.tripled.divider:before {
	left: 269px;
}
.spannerBlock.reachRight.divider:before {
	left: 130px;
	width: 185px;
}
.gridster .gs_w.tripled .spannerBlock.reachRight.divider.gs_w:nth-last-of-type(2):before {
	left: 130px;
	width: 11px;
}
.gridster .gs_w.tripled .spannerBlock.reachRight.divider.gs_w:nth-of-type(2):before {
	left: 130px;
	width: 80px;
}
.spannerBlock.full.divider:before {
	left: -104px;
	width: 419px;
}
.gridster .gs_w.tripled .gs_w.full.divider:nth-of-type(2):before {
	width: 80px;
	left: 130px;
}
.spannerBlock.full.divider:nth-last-of-type(2):before {
	left: -69px;
	width: 209px;
}
.gridster .gs_w.doubled .gs_w,
.gridster .gs_w.tripled .gs_w,
.gridster .gs_w.doubled .gs_w.divider,
.gridster .gs_w.tripled .gs_w.divider {
	width: 130px;
	height: 65px;
	margin: 0 auto;
	position: relative;
}
.gridster .gs_w.doubled .gs_w.divider,
.gridster .gs_w.tripled .gs_w.divider {
	height: 5px;
}
.gridster .gs_w.tripled .blocking,
.gridster .gs_w.tripled .box,
.gridster .gs_w.tripled .reachLeft,
.gridster .gs_w.tripled .reachRight,
.gridster .gs_w.tripled .full,
.gridster .gs_w.tripled .thru {
	left: -35px;
}
.gridster .gs_w.tripled .gs_w:nth-last-of-type(2) {
	left: 70px;
	float: left;
}
.gridster .gs_w.tripled .thru.gs_w:nth-of-type(2) {
	top: -30px;
	height: 40px;
	left: -175px;
}
.gridster .gs_w.tripled .gs_w:nth-of-type(2) {
	left: -70px;
	float: right;
}
.gridster .gs_w.tripled .connector.gs_w:nth-of-type(2) {
	bottom: 30px;
	height: 40px;
}
.gridster .gs_w.doubled .box,
.gridster .gs_w.tripled .box {
	background: #fff;
}
.gridster .gs_w.doubled .thru,
.gridster .gs_w.tripled .thru,
.gridster .gs_w.tripled .connection {
	background: transparent;
}

.gs_w.divider.thru:before,
.gs_w.divider.blocking:before,
.doubled:not(:empty).gs_w:after,
.tripled:not(:empty).gs_w:after,
.seventeen.gridster .gs_w:nth-child(-n+17):after,
.thirtySix.gridster .gs_w:nth-child(-n+36):after,
.gridster .gs_w.tripled:not(.full):before,
.gridster .gs_w.tripled:not(.reachLeft):before,
.gs_w.nope:after {
	display: none !important;
}
.gridster .gs_w.doubled .spannerBlock.box:after,
.gridster .gs_w.tripled .spannerBlock.box:after,
.gridster .gs_w.doubled .spannerBlock.thru:after,
.gridster .gs_w.tripled .spannerBlock.connector:after,
.gridster .gs_w.tripled .spannerBlock.thru:after,
.gridster .gs_w.doubled .spannerBlock.blocking:after,
.gridster .gs_w.tripled .spannerBlock.reachLeft:after,
.gridster .gs_w.tripled .spannerBlock.reachRight:after,
.gridster .gs_w.tripled .spannerBlock.full:after,
.gridster .gs_w.tripled .spannerBlock.thru:after,
.tripled:not(:empty) .spannerBlock.blocking:after {
	display: block !important;
}
.gridster .gs_w.doubled .spannerBlock.nope.box:after,
.gridster .gs_w.tripled .spannerBlock.nope.box:after {
	display: none !important;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	`contenteditable` attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
