#def_button {
  background: #000;
  color: #84FF49;
  font-size: 16px;
  opacity: 1;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
}

#li1 { background: url('http://gridsterbymaharshi.appspot.com/images/1.png') no-repeat center; }
#li2 { background: url('http://gridsterbymaharshi.appspot.com/images/2.png') no-repeat left; }
#li3 { background: url('http://gridsterbymaharshi.appspot.com/images/3.png') no-repeat center; }
#li4 { background: url('http://gridsterbymaharshi.appspot.com/images/4.png') no-repeat center; }
#li5 { background: url('http://gridsterbymaharshi.appspot.com/images/5.png') no-repeat center; }
#li6 { background: url('http://gridsterbymaharshi.appspot.com/images/6.png') no-repeat center; }
#li7 { background: url('http://gridsterbymaharshi.appspot.com/images/7.png') no-repeat center; }
#li8 { background: url('http://gridsterbymaharshi.appspot.com/images/8.png') no-repeat center; }
#li9 { background: url('http://gridsterbymaharshi.appspot.com/images/9.png') no-repeat center; }
#li10 { background: url('http://gridsterbymaharshi.appspot.com/images/10.png') no-repeat center; }
#li11 { background: url('http://gridsterbymaharshi.appspot.com/images/11.png') no-repeat center; }
#li12 { background: url('http://gridsterbymaharshi.appspot.com/images/12.png') no-repeat center; }
#li13 { background: url('http://gridsterbymaharshi.appspot.com/images/13.png') no-repeat center; }
#li14 { background: url('http://gridsterbymaharshi.appspot.com/images/14.png') no-repeat center; }
#li15 { background: url('http://gridsterbymaharshi.appspot.com/images/15.png') no-repeat center; }
#li16 { background: url('http://gridsterbymaharshi.appspot.com/images/16.png') no-repeat center; }
#li17 { background: url('http://gridsterbymaharshi.appspot.com/images/17.png') no-repeat center; }
#li18 { background: url('http://gridsterbymaharshi.appspot.com/images/18.png') no-repeat center; }
#li19 { background: url('http://gridsterbymaharshi.appspot.com/images/20.jpg') no-repeat center; }
#li20 { background: url('http://gridsterbymaharshi.appspot.com/images/21.png') no-repeat center; }
#li21 { background: url('http://gridsterbymaharshi.appspot.com/images/22.png') no-repeat center; }




body {
  background: url('http://gridsterbymaharshi.appspot.com/images/back.jpg') no-repeat center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: x-small;
}

ul, ol {
  list-style: none;
}

h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400; 
}

h3 {
  font-size: 25px;
  font-weight: 600;
  color: white; 
}

/* Gridster styles */
.demo {
  //margin: 3em 0;
  //padding: 7.5em 0 5.5em;
}

.demo:hover .gridster {
  opacity: 1;
}

.gridster {
  width: 100%;
  padding: 4%;
  height: 100%;
  margin: 0 ;

  opacity: .8;

  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

.gridster .gs_w {
  //background: #FFF;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}