
/*////////// Modal Roll Overs ////////////////*/

.mugShot.Alyea_Afzal { background: url("../images/headshots/Alyea_Afzal_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ikhsan_Assaat { background: url("../images/headshots/Ikhsan_Assaat_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jon_Attfield { background: url("../images/headshots/Jon_Attfield_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Bel_Aztiria { background: url("../images/headshots/Bel_Aztiria_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dan_Bagnall { background: url("../images/headshots/Dan_Bagnall_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Josh_Baron { background: url("../images/headshots/Josh_Baron_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Vivien_Barousse { background: url("../images/headshots/Vivien_Barousse_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Alexsis_Bass { background: url("../images/headshots/Alexsis_Bass_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Laura_Becker { background: url("../images/headshots/Laura_Becker_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sabina_Bejasa-Dimmock { background: url("../images/headshots/Sabina_Bejasa-Dimmock_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jesse_Bellin { background: url("../images/headshots/Jesse_Bellin_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Alexey_Blinov { background: url("../images/headshots/Alexey_Blinov_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Josh_Block { background: url("../images/headshots/Josh_Block_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kyle_Bolt { background: url("../images/headshots/Kyle_Bolt_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sam_Briggs { background: url("../images/headshots/Sam_Briggs_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gideon_Bullock { background: url("../images/headshots/Gideon_Bullock_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Shaun_Burke { background: url("../images/headshots/Shaun_Burke_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Caitlin_Came { background: url("../images/headshots/Caitlin_Came_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gonzalo_Castro { background: url("../images/headshots/Gonzalo_Castro_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Steve_Cielinski { background: url("../images/headshots/Steve_Cielinski_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Mitch_Clark { background: url("../images/headshots/Mitch_Clark_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tom_Clarke { background: url("../images/headshots/Tom_Clarke_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dan_Crow { background: url("../images/headshots/Dan_Crow_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Meredith_Croy { background: url("../images/headshots/Meredith_Croy_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sarah_Dear { background: url("../images/headshots/Sarah_Dear_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Andy_Deeley { background: url("../images/headshots/Andy_Deeley_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jiv_Dhaliwal { background: url("../images/headshots/Jiv_Dhaliwal_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jason_Dierkes { background: url("../images/headshots/Jason_Dierkes_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kalyn_Dobbs { background: url("../images/headshots/Kalyn_Dobbs_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Bill_Domanick { background: url("../images/headshots/Bill_Domanick_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Christine_Dombrowski { background: url("../images/headshots/Christine_Dombrowski_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Mac_Donoghue { background: url("../images/headshots/Mac_Donoghue_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kendyl_Dunn { background: url("../images/headshots/Kendyl_Dunn_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Noel_Edwards { background: url("../images/headshots/Noel_Edwards_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dean_Elbaz { background: url("../images/headshots/Dean_Elbaz_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ewan_Eyre { background: url("../images/headshots/Ewan_Eyre_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ricky_Faillace { background: url("../images/headshots/Ricky_Faillace_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Stephen_Field { background: url("../images/headshots/Stephen_Field_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Andrea_Frey { background: url("../images/headshots/Andrea_Frey_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.James_Gibb { background: url("../images/headshots/James_Gibb_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Stephen_Glicken { background: url("../images/headshots/Stephen_Glicken_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Brigitte_Gomez { background: url("../images/headshots/Brigitte_Gomez_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lauren_Gottlieb { background: url("../images/headshots/Lauren_Gottlieb_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Elliot_Hancock { background: url("../images/headshots/Elliot_Hancock_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lydia_Hecomovich { background: url("../images/headshots/Lydia_Hecomovich_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Eddie_Herdemian { background: url("../images/headshots/Eddie_Herdemian_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Paul_Herdemian { background: url("../images/headshots/Paul_Herdemian_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ryan_Herrmann { background: url("../images/headshots/Ryan_Herrmann_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Loren_Hinkson { background: url("../images/headshots/Loren_Hinkson_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ben_Hodgson { background: url("../images/headshots/Ben_Hodgson_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Freya_Houlding { background: url("../images/headshots/Freya_Houlding_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jamie_Hughes { background: url("../images/headshots/Jamie_Hughes_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Joey_Isaacson { background: url("../images/headshots/Joey_Isaacson_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gareth_Jones { background: url("../images/headshots/Gareth_Jones_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Matt_Jones { background: url("../images/headshots/Matt_Jones_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kim_Knup { background: url("../images/headshots/Kim_Knup_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Paul_Lawson { background: url("../images/headshots/Paul_Lawson_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sabrina_Leandro { background: url("../images/headshots/Sabrina_Leandro_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tracey_Lee-Joe { background: url("../images/headshots/Tracey_Lee-Joe_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Yi_Lin { background: url("../images/headshots/Yi_Lin_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Anastasia_Lopez { background: url("../images/headshots/Anastasia_Lopez_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dan_Lucraft { background: url("../images/headshots/Dan_Lucraft_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.David_MacGladrie { background: url("../images/headshots/David_MacGladrie_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Christian_Marchand { background: url("../images/headshots/Christian_Marchand_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lee_Martin { background: url("../images/headshots/Lee_Martin_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Michael_May { background: url("../images/headshots/Michael_May_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tom_May { background: url("../images/headshots/Tom_May_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.JD_May { background: url("../images/headshots/JD_May_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Taylor_McDermott { background: url("../images/headshots/Taylor_McDermott_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Mark_McIntyre { background: url("../images/headshots/Mark_McIntyre_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Callum_Merriman { background: url("../images/headshots/Callum_Merriman_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Andy_Mitchell { background: url("../images/headshots/Andy_Mitchell_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Charlie_Morrison { background: url("../images/headshots/Charlie_Morrison_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Aaron_Neigher { background: url("../images/headshots/Aaron_Neigher_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Matthew_Nelson { background: url("../images/headshots/Matthew_Nelson_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sean_OKeeffe { background: url("../images/headshots/Sean_OKeeffe_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Michael_Orland { background: url("../images/headshots/Michael_Orland_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Marc_Pacheco { background: url("../images/headshots/Marc_Pacheco_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Wilson_Palmer { background: url("../images/headshots/Wilson_Palmer_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ian_Petts { background: url("../images/headshots/Ian_Petts_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Amy_Phillips { background: url("../images/headshots/Amy_Phillips_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Romain_Piel { background: url("../images/headshots/Romain_Piel_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Amy_Polacsek { background: url("../images/headshots/Amy_Polacsek_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Paula_Lopez-Pozuelo { background: url("../images/headshots/Paula_Lopez-Pozuelo_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Mizanur_Rahman { background: url("../images/headshots/Mizanur_Rahman_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tom_Ralston { background: url("../images/headshots/Tom_Ralston_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Aaron_Randall { background: url("../images/headshots/Aaron_Randall_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Adam_Ray { background: url("../images/headshots/Adam_Ray_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Glenn_Ray { background: url("../images/headshots/Glenn_Ray_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Adam_Raza { background: url("../images/headshots/Adam_Raza_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Alex_Reade { background: url("../images/headshots/Alex_Reade_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Arnaud_Rinquin { background: url("../images/headshots/Arnaud_Rinquin_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Aaron_Rodgers { background: url("../images/headshots/Aaron_Rodgers_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Megan_Rondeau { background: url("../images/headshots/Megan_Rondeau_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sam_Rudge { background: url("../images/headshots/Sam_Rudge_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Elena_Sansigre-Silva { background: url("../images/headshots/Elena_Sansigre-Silva_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sam_Saunders { background: url("../images/headshots/Sam_Saunders_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ian_Schiffer { background: url("../images/headshots/Ian_Schiffer_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Adam_Schiffer { background: url("../images/headshots/Adam_Schiffer_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Adam_Schuster { background: url("../images/headshots/Adam_Schuster_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Emily_Sergent { background: url("../images/headshots/Emily_Sergent_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Alex_Shellim { background: url("../images/headshots/Alex_Shellim_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Igor_Shpakov { background: url("../images/headshots/Igor_Shpakov_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ryan_Simms { background: url("../images/headshots/Ryan_Simms_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Paul_Springett { background: url("../images/headshots/Paul_Springett_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Francesca_Stabile { background: url("../images/headshots/Francesca_Stabile_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jack_Stephens { background: url("../images/headshots/Jack_Stephens_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Nina_Thistlethwaite { background: url("../images/headshots/Nina_Thistlethwaite_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Karim-Dia_Toubajie { background: url("../images/headshots/Karim-Dia_Toubajie_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Matt_Vail { background: url("../images/headshots/Matt_Vail_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Stephen_Vallimarescu { background: url("../images/headshots/Stephen_Vallimarescu_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jenny_Verdon { background: url("../images/headshots/Jenny_Verdon_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Cassie_Waduge { background: url("../images/headshots/Cassie_Waduge_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Leonie_Wakeman { background: url("../images/headshots/Leonie_Wakeman_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Merry_Webster { background: url("../images/headshots/Merry_Webster_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tom_Weir { background: url("../images/headshots/Tom_Weir_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.James_White { background: url("../images/headshots/James_White_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jake_Williams { background: url("../images/headshots/Jake_Williams_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Michelle_Wood { background: url("../images/headshots/Michelle_Wood_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jamie_Wright { background: url("../images/headshots/Jamie_Wright_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Michelle_You { background: url("../images/headshots/Michelle_You_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Naadir_Jeewa { background: url("../images/headshots/Naadir_Jeewa_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Leandro_Maione { background: url("../images/headshots/Leandro_Maione_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Alesha_Gooden { background: url("../images/headshots/Alesha_Gooden_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }

/*////////// Chart Positioning ///////////////*/

#Leandro_Maione { height: 65px; width: 130px; left: 425px; top: 905px; }
#Sean_OKeeffe { height: 65px; width: 130px; left: 1685px; top: 905px; }
#Ikhsan_Assaat { height: 65px; width: 130px; left: 2105px; top: 905px; }
#Alex_Shellim { height: 65px; width: 130px; left: 425px; top: 830px; }
#Kyle_Bolt { height: 65px; width: 130px; left: 1685px; top: 830px; }
#Romain_Piel { height: 65px; width: 130px; left: 2105px; top: 830px; }
#Jiv_Dhaliwal { height: 65px; width: 130px; left: 2385px; top: 830px; }
#Jamie_Wright { height: 65px; width: 130px; left: 3085px; top: 830px; }
#Mitch_Clark { height: 65px; width: 130px; left: 425px; top: 755px; }
#Bel_Aztiria { height: 65px; width: 130px; left: 1125px; top: 755px; }
#Lydia_Hecomovich { height: 65px; width: 130px; left: 1685px; top: 755px; }
#Nina_Thistlethwaite { height: 65px; width: 130px; left: 1825px; top: 755px; }
#Anastasia_Lopez { height: 65px; width: 130px; left: 2105px; top: 755px; }
#Arnaud_Rinquin { height: 65px; width: 130px; left: 2385px; top: 755px; }
#Naadir_Jeewa { height: 65px; width: 130px; left: 2945px; top: 755px; }
#Dean_Elbaz { height: 65px; width: 130px; left: 3085px; top: 755px; }
#Jason_Dierkes { height: 65px; width: 130px; left: 3225px; top: 755px; }
#Loren_Hinkson { height: 65px; width: 130px; left: 3365px; top: 755px; }
#Sarah_Dear { height: 65px; width: 130px; left: 3785px; top: 755px; }
#Alesha_Gooden { height: 65px; width: 130px; left: 3925px; top: 755px; }
#Joey_Isaacson { height: 65px; width: 130px; left: 4625px; top: 755px; }
#Stephen_Field { height: 65px; width: 130px; left: 4765px; top: 755px; }
#Bill_Domanick { height: 65px; width: 130px; left: 425px; top: 680px; }
#Ryan_Herrmann { height: 65px; width: 130px; left: 565px; top: 680px; }
#Adam_Raza { height: 65px; width: 130px; left: 705px; top: 680px; }
#Freya_Houlding { height: 65px; width: 130px; left: 1125px; top: 680px; }
#Mac_Donoghue { height: 65px; width: 130px; left: 1265px; top: 680px; }
#Megan_Rondeau { height: 65px; width: 130px; left: 1405px; top: 680px; }
#Jenny_Verdon { height: 65px; width: 130px; left: 1545px; top: 680px; }
#Jake_Williams { height: 65px; width: 130px; left: 1685px; top: 680px; }
#James_Gibb { height: 65px; width: 130px; left: 1825px; top: 680px; }
#Alexey_Blinov { height: 65px; width: 130px; left: 2105px; top: 680px; }
#Paula_Lopez-Pozuelo { height: 65px; width: 130px; left: 2245px; top: 680px; }
#Ben_Hodgson { height: 65px; width: 130px; left: 2385px; top: 680px; }
#James_White { height: 65px; width: 130px; left: 2805px; top: 680px; }
#Sam_Rudge { height: 65px; width: 130px; left: 2945px; top: 680px; }
#Paul_Lawson { height: 65px; width: 130px; left: 3085px; top: 680px; }
#Christian_Marchand { height: 65px; width: 130px; left: 3225px; top: 680px; }
#Alyea_Afzal { height: 65px; width: 130px; left: 3365px; top: 680px; }
#Taylor_McDermott { height: 65px; width: 130px; left: 3505px; top: 680px; }
#Kalyn_Dobbs { height: 65px; width: 130px; left: 3785px; top: 680px; }
#Tom_Weir { height: 65px; width: 130px; left: 3925px; top: 680px; }
#Aaron_Rodgers { height: 65px; width: 130px; left: 4625px; top: 680px; }
#Tom_Ralston { height: 65px; width: 130px; left: 4765px; top: 680px; }
#Yi_Lin { height: 65px; width: 130px; left: 425px; top: 605px; }
#Josh_Baron { height: 65px; width: 130px; left: 565px; top: 605px; }
#Stephen_Vallimarescu { height: 65px; width: 130px; left: 705px; top: 605px; }
#Jack_Stephens { height: 65px; width: 130px; left: 845px; top: 605px; }
#Steve_Cielinski { height: 65px; width: 130px; left: 985px; top: 605px; }
#Leonie_Wakeman { height: 65px; width: 130px; left: 1125px; top: 605px; }
#Gonzalo_Castro { height: 65px; width: 130px; left: 1265px; top: 605px; }
#Dan_Bagnall { height: 65px; width: 130px; left: 1405px; top: 605px; }
#Caitlin_Came { height: 65px; width: 130px; left: 1545px; top: 605px; }
#Christine_Dombrowski { height: 65px; width: 130px; left: 1685px; top: 605px; }
#Ewan_Eyre { height: 65px; width: 130px; left: 1825px; top: 605px; }
#Global_Assistants_Program { height: 65px; width: 130px; left: 1965px; top: 605px; }
#Michael_May { height: 65px; width: 130px; left: 2105px; top: 605px; }
#Sabina_Bejasa-Dimmock { height: 65px; width: 130px; left: 2245px; top: 605px; }
#Andy_Mitchell { height: 65px; width: 130px; left: 2385px; top: 605px; }
#Ryan_Simms { height: 65px; width: 130px; left: 2525px; top: 605px; }
#Kim_Knup { height: 65px; width: 130px; left: 2665px; top: 605px; }
#Paul_Springett { height: 65px; width: 130px; left: 2805px; top: 605px; }
#Igor_Shpakov { height: 65px; width: 130px; left: 2945px; top: 605px; }
#Marc_Pacheco { height: 65px; width: 130px; left: 3085px; top: 605px; }
#Mizanur_Rahman { height: 65px; width: 130px; left: 3225px; top: 605px; }
#Wilson_Palmer { height: 65px; width: 130px; left: 3365px; top: 605px; }
#Matthew_Nelson { height: 65px; width: 130px; left: 3505px; top: 605px; }
#Ian_Petts { height: 65px; width: 130px; left: 3645px; top: 605px; }
#Elena_Sansigre-Silva { height: 65px; width: 130px; left: 3785px; top: 605px; }
#Brigitte_Gomez { height: 65px; width: 130px; left: 3925px; top: 605px; }
#Alexsis_Bass { height: 65px; width: 130px; left: 4205px; top: 605px; }
#Karim-Dia_Toubajie { height: 65px; width: 130px; left: 4625px; top: 605px; }
#Callum_Merriman { height: 65px; width: 130px; left: 4765px; top: 605px; }
#gs_w1 { height: 5px; width: 130px; left: 425px; top: 590px; }
#gs_w2 { height: 5px; width: 130px; left: 565px; top: 590px; }
#gs_w3 { height: 5px; width: 130px; left: 705px; top: 590px; }
#gs_w4 { height: 5px; width: 130px; left: 845px; top: 590px; }
#gs_w5 { height: 5px; width: 130px; left: 985px; top: 590px; }
#gs_w6 { height: 5px; width: 130px; left: 1125px; top: 590px; }
#gs_w7 { height: 5px; width: 130px; left: 1265px; top: 590px; }
#gs_w8 { height: 5px; width: 130px; left: 1405px; top: 590px; }
#gs_w9 { height: 5px; width: 130px; left: 1545px; top: 590px; }
#gs_w10 { height: 5px; width: 130px; left: 1685px; top: 590px; }
#gs_w11 { height: 5px; width: 130px; left: 1825px; top: 590px; }
#gs_w12 { height: 5px; width: 130px; left: 1965px; top: 590px; }
#gs_w13 { height: 5px; width: 130px; left: 2105px; top: 590px; }
#gs_w14 { height: 5px; width: 130px; left: 2245px; top: 590px; }
#gs_w15 { height: 5px; width: 130px; left: 2385px; top: 590px; }
#gs_w16 { height: 5px; width: 130px; left: 2525px; top: 590px; }
#gs_w17 { height: 5px; width: 130px; left: 2665px; top: 590px; }
#gs_w18 { height: 5px; width: 130px; left: 2805px; top: 590px; }
#gs_w19 { height: 5px; width: 130px; left: 2945px; top: 590px; }
#gs_w20 { height: 5px; width: 130px; left: 3085px; top: 590px; }
#gs_w21 { height: 5px; width: 130px; left: 3225px; top: 590px; }
#gs_w22 { height: 5px; width: 130px; left: 3365px; top: 590px; }
#gs_w23 { height: 5px; width: 130px; left: 3505px; top: 590px; }
#gs_w24 { height: 5px; width: 130px; left: 3645px; top: 590px; }
#gs_w25 { height: 5px; width: 130px; left: 3785px; top: 590px; }
#gs_w26 { height: 5px; width: 130px; left: 3925px; top: 590px; }
#gs_w27 { height: 5px; width: 130px; left: 4205px; top: 590px; }
#gs_w28 { height: 5px; width: 130px; left: 4625px; top: 590px; }
#gs_w29 { height: 5px; width: 130px; left: 4765px; top: 590px; }
#Sam_Saunders { height: 65px; width: 130px; left: 5px; top: 515px; }
#Tom_May { height: 65px; width: 130px; left: 285px; top: 515px; }
#gs_w30 { height: 65px; width: 130px; left: 425px; top: 515px; }
#gs_w31 { height: 65px; width: 130px; left: 565px; top: 515px; }
#gs_w32 { height: 65px; width: 130px; left: 705px; top: 515px; }
#gs_w33 { height: 65px; width: 130px; left: 845px; top: 515px; }
#gs_w34 { height: 65px; width: 130px; left: 985px; top: 515px; }
#gs_w35 { height: 65px; width: 130px; left: 1125px; top: 515px; }
#gs_w36 { height: 65px; width: 130px; left: 1335px; top: 515px; }
#Michelle_Wood { height: 65px; width: 130px; left: 1545px; top: 515px; }
#Amy_Polacsek { height: 65px; width: 130px; left: 1685px; top: 515px; }
#gs_w37 { height: 65px; width: 130px; left: 1825px; top: 515px; }
#gs_w38 { height: 65px; width: 130px; left: 1965px; top: 515px; }
#Aaron_Randall { height: 65px; width: 130px; left: 2105px; top: 515px; }
#Vivien_Barousse { height: 65px; width: 130px; left: 2245px; top: 515px; }
#David_MacGladrie { height: 65px; width: 130px; left: 2385px; top: 515px; }
#gs_w39 { height: 65px; width: 130px; left: 2525px; top: 515px; }
#gs_w40 { height: 65px; width: 130px; left: 2665px; top: 515px; }
#gs_w41 { height: 65px; width: 130px; left: 2875px; top: 515px; }
#gs_w42 { height: 65px; width: 130px; left: 3085px; top: 515px; }
#gs_w43 { height: 65px; width: 130px; left: 3225px; top: 515px; }
#gs_w44 { height: 65px; width: 130px; left: 3365px; top: 515px; }
#Alex_Reade { height: 65px; width: 130px; left: 3575px; top: 515px; }
#Elliot_Hancock { height: 65px; width: 130px; left: 3785px; top: 515px; }
#Merry_Webster { height: 65px; width: 130px; left: 3925px; top: 515px; }
#Charlie_Morrison { height: 65px; width: 130px; left: 4065px; top: 515px; }
#Lauren_Gottlieb { height: 65px; width: 130px; left: 4205px; top: 515px; }
#Tracey_Lee-Joe { height: 65px; width: 130px; left: 4625px; top: 515px; }
#Tom_Clarke { height: 65px; width: 130px; left: 4765px; top: 515px; }
#gs_w45 { height: 5px; width: 130px; left: 5px; top: 500px; }
#gs_w46 { height: 5px; width: 130px; left: 285px; top: 500px; }
#gs_w47 { height: 5px; width: 130px; left: 425px; top: 500px; }
#gs_w48 { height: 5px; width: 130px; left: 565px; top: 500px; }
#gs_w49 { height: 5px; width: 130px; left: 705px; top: 500px; }
#gs_w50 { height: 5px; width: 130px; left: 845px; top: 500px; }
#gs_w51 { height: 5px; width: 130px; left: 985px; top: 500px; }
#gs_w52 { height: 5px; width: 130px; left: 1125px; top: 500px; }
#gs_w53 { height: 5px; width: 130px; left: 1335px; top: 500px; }
#gs_w54 { height: 5px; width: 130px; left: 1545px; top: 500px; }
#gs_w55 { height: 5px; width: 130px; left: 1685px; top: 500px; }
#gs_w56 { height: 5px; width: 130px; left: 1825px; top: 500px; }
#gs_w57 { height: 5px; width: 130px; left: 1965px; top: 500px; }
#gs_w58 { height: 5px; width: 130px; left: 2105px; top: 500px; }
#gs_w59 { height: 5px; width: 130px; left: 2245px; top: 500px; }
#gs_w60 { height: 5px; width: 130px; left: 2385px; top: 500px; }
#gs_w61 { height: 5px; width: 130px; left: 2525px; top: 500px; }
#gs_w62 { height: 5px; width: 130px; left: 2665px; top: 500px; }
#gs_w63 { height: 5px; width: 130px; left: 2875px; top: 500px; }
#gs_w64 { height: 5px; width: 130px; left: 3085px; top: 500px; }
#gs_w65 { height: 5px; width: 130px; left: 3225px; top: 500px; }
#gs_w66 { height: 5px; width: 130px; left: 3365px; top: 500px; }
#gs_w67 { height: 5px; width: 130px; left: 3575px; top: 500px; }
#gs_w68 { height: 5px; width: 130px; left: 3785px; top: 500px; }
#gs_w69 { height: 5px; width: 130px; left: 3925px; top: 500px; }
#gs_w70 { height: 5px; width: 130px; left: 4065px; top: 500px; }
#gs_w71 { height: 5px; width: 130px; left: 4205px; top: 500px; }
#gs_w72 { height: 5px; width: 130px; left: 4625px; top: 500px; }
#gs_w73 { height: 5px; width: 130px; left: 4765px; top: 500px; }
#gs_w74 { height: 65px; width: 130px; left: 5px; top: 425px; }
#Jamie_Hughes { height: 65px; width: 130px; left: 145px; top: 425px; }
#gs_w75 { height: 65px; width: 130px; left: 285px; top: 425px; }
#Jon_Attfield { height: 65px; width: 130px; left: 425px; top: 425px; }
#gs_w76 { height: 65px; width: 130px; left: 565px; top: 425px; }
#Ian_Schiffer { height: 65px; width: 130px; left: 705px; top: 425px; }
#Sam_Briggs { height: 65px; width: 130px; left: 845px; top: 425px; }
#gs_w77 { height: 65px; width: 130px; left: 985px; top: 425px; }
#Gareth_Jones { height: 65px; width: 130px; left: 1125px; top: 425px; }
#Meredith_Croy { height: 65px; width: 130px; left: 1335px; top: 425px; }
#Aaron_Neigher { height: 65px; width: 130px; left: 1545px; top: 425px; }
#Ricky_Faillace { height: 65px; width: 130px; left: 1685px; top: 425px; }
#Noel_Edwards { height: 65px; width: 130px; left: 1825px; top: 425px; }
#Shaun_Burke { height: 65px; width: 130px; left: 1965px; top: 425px; }
#gs_w78 { height: 65px; width: 130px; left: 2105px; top: 425px; }
#gs_w79 { height: 65px; width: 130px; left: 2245px; top: 425px; }
#gs_w80 { height: 65px; width: 130px; left: 2385px; top: 425px; }
#gs_w81 { height: 65px; width: 130px; left: 2525px; top: 425px; }
#Amy_Phillips { height: 65px; width: 130px; left: 2665px; top: 425px; }
#Dan_Lucraft { height: 65px; width: 130px; left: 2875px; top: 425px; }
#gs_w82 { height: 65px; width: 130px; left: 3085px; top: 425px; }
#Andy_Deeley { height: 65px; width: 130px; left: 3225px; top: 425px; }
#Eddie_Herdemian { height: 65px; width: 130px; left: 3365px; top: 425px; }
#Emily_Sergent { height: 65px; width: 130px; left: 3715px; top: 425px; }
#Andrea_Frey { height: 65px; width: 130px; left: 4135px; top: 425px; }
#gs_w83 { height: 65px; width: 130px; left: 4625px; top: 425px; }
#gs_w84 { height: 65px; width: 130px; left: 4765px; top: 425px; }
#gs_w85 { height: 5px; width: 130px; left: 5px; top: 410px; }
#gs_w86 { height: 5px; width: 130px; left: 145px; top: 410px; }
#gs_w87 { height: 5px; width: 130px; left: 285px; top: 410px; }
#gs_w88 { height: 5px; width: 130px; left: 425px; top: 410px; }
#gs_w89 { height: 5px; width: 130px; left: 565px; top: 410px; }
#gs_w90 { height: 5px; width: 130px; left: 705px; top: 410px; }
#gs_w91 { height: 5px; width: 130px; left: 845px; top: 410px; }
#gs_w92 { height: 5px; width: 130px; left: 985px; top: 410px; }
#gs_w93 { height: 5px; width: 130px; left: 1125px; top: 410px; }
#gs_w94 { height: 5px; width: 130px; left: 1335px; top: 410px; }
#gs_w95 { height: 5px; width: 130px; left: 1545px; top: 410px; }
#gs_w96 { height: 5px; width: 130px; left: 1685px; top: 410px; }
#gs_w97 { height: 5px; width: 130px; left: 1825px; top: 410px; }
#gs_w98 { height: 5px; width: 130px; left: 1965px; top: 410px; }
#gs_w99 { height: 5px; width: 130px; left: 2105px; top: 410px; }
#gs_w100 { height: 5px; width: 130px; left: 2245px; top: 410px; }
#gs_w101 { height: 5px; width: 130px; left: 2385px; top: 410px; }
#gs_w102 { height: 5px; width: 130px; left: 2525px; top: 410px; }
#gs_w103 { height: 5px; width: 130px; left: 2665px; top: 410px; }
#gs_w104 { height: 5px; width: 130px; left: 2875px; top: 410px; }
#gs_w105 { height: 5px; width: 130px; left: 3085px; top: 410px; }
#gs_w106 { height: 5px; width: 130px; left: 3225px; top: 410px; }
#gs_w107 { height: 5px; width: 130px; left: 3365px; top: 410px; }
#gs_w108 { height: 5px; width: 130px; left: 3505px; top: 410px; }
#gs_w109 { height: 5px; width: 130px; left: 3715px; top: 410px; }
#gs_w110 { height: 5px; width: 130px; left: 4135px; top: 410px; }
#gs_w111 { height: 5px; width: 130px; left: 4625px; top: 410px; }
#gs_w112 { height: 5px; width: 130px; left: 4765px; top: 410px; }
#gs_w113 { height: 65px; width: 130px; left: 145px; top: 335px; }
#gs_w114 { height: 65px; width: 130px; left: 425px; top: 335px; }
#gs_w115 { height: 65px; width: 130px; left: 565px; top: 335px; }
#gs_w116 { height: 65px; width: 130px; left: 845px; top: 335px; }
#Kendyl_Dunn { height: 65px; width: 130px; left: 1265px; top: 335px; }
#gs_w117 { height: 65px; width: 130px; left: 1405px; top: 335px; }
#gs_w118 { height: 65px; width: 130px; left: 1825px; top: 335px; }
#gs_w119 { height: 65px; width: 130px; left: 2455px; top: 335px; }
#gs_w120 { height: 65px; width: 130px; left: 3085px; top: 335px; }
#gs_w121 { height: 65px; width: 130px; left: 3435px; top: 335px; }
#gs_w122 { height: 65px; width: 130px; left: 4135px; top: 335px; }
#gs_w123 { height: 65px; width: 130px; left: 4625px; top: 335px; }
#gs_w124 { height: 65px; width: 130px; left: 4765px; top: 335px; }
#gs_w125 { height: 5px; width: 130px; left: 145px; top: 320px; }
#gs_w126 { height: 5px; width: 130px; left: 425px; top: 320px; }
#gs_w127 { height: 5px; width: 130px; left: 565px; top: 320px; }
#gs_w128 { height: 5px; width: 130px; left: 845px; top: 320px; }
#gs_w129 { height: 5px; width: 130px; left: 1265px; top: 320px; }
#gs_w130 { height: 5px; width: 130px; left: 1405px; top: 320px; }
#gs_w131 { height: 5px; width: 130px; left: 1825px; top: 320px; }
#gs_w132 { height: 5px; width: 130px; left: 2455px; top: 320px; }
#gs_w133 { height: 5px; width: 130px; left: 3085px; top: 320px; }
#gs_w134 { height: 5px; width: 130px; left: 3435px; top: 320px; }
#gs_w135 { height: 5px; width: 130px; left: 4135px; top: 320px; }
#gs_w136 { height: 5px; width: 130px; left: 4625px; top: 320px; }
#gs_w137 { height: 5px; width: 130px; left: 4765px; top: 320px; }
#Michael_Orland { height: 65px; width: 130px; left: 145px; top: 245px; }
#Lee_Martin { height: 65px; width: 130px; left: 425px; top: 245px; }
#Stephen_Glicken { height: 65px; width: 130px; left: 565px; top: 245px; }
#gs_w138 { height: 65px; width: 130px; left: 705px; top: 245px; }
#JD_May { height: 65px; width: 130px; left: 845px; top: 245px; }
#Jesse_Bellin { height: 65px; width: 130px; left: 1335px; top: 245px; }
#Laura_Becker { height: 65px; width: 130px; left: 1825px; top: 245px; }
#Mark_McIntyre { height: 65px; width: 130px; left: 2455px; top: 245px; }
#Sabrina_Leandro { height: 65px; width: 130px; left: 3085px; top: 245px; }
#Paul_Herdemian { height: 65px; width: 130px; left: 3435px; top: 245px; }
#Matt_Vail { height: 65px; width: 130px; left: 3925px; top: 245px; }
#Adam_Schuster { height: 65px; width: 130px; left: 4135px; top: 245px; }
#Gideon_Bullock { height: 65px; width: 130px; left: 4625px; top: 245px; }
#gs_w139 { height: 65px; width: 130px; left: 4765px; top: 245px; }
#gs_w140 { height: 5px; width: 130px; left: 145px; top: 230px; }
#gs_w141 { height: 5px; width: 130px; left: 285px; top: 230px; }
#gs_w142 { height: 5px; width: 130px; left: 425px; top: 230px; }
#gs_w143 { height: 5px; width: 130px; left: 845px; top: 230px; }
#gs_w144 { height: 5px; width: 130px; left: 1335px; top: 230px; }
#gs_w145 { height: 5px; width: 130px; left: 1825px; top: 230px; }
#gs_w146 { height: 5px; width: 130px; left: 2455px; top: 230px; }
#gs_w147 { height: 5px; width: 130px; left: 2665px; top: 230px; }
#gs_w148 { height: 5px; width: 130px; left: 2805px; top: 230px; }
#gs_w149 { height: 5px; width: 130px; left: 2945px; top: 230px; }
#gs_w150 { height: 5px; width: 130px; left: 3085px; top: 230px; }
#gs_w151 { height: 5px; width: 130px; left: 3435px; top: 230px; }
#gs_w152 { height: 5px; width: 130px; left: 3925px; top: 230px; }
#gs_w153 { height: 5px; width: 130px; left: 4135px; top: 230px; }
#gs_w154 { height: 5px; width: 130px; left: 4625px; top: 230px; }
#gs_w155 { height: 5px; width: 130px; left: 4765px; top: 230px; }
#gs_w156 { height: 65px; width: 130px; left: 285px; top: 155px; }
#gs_w157 { height: 65px; width: 130px; left: 845px; top: 155px; }
#gs_w158 { height: 65px; width: 130px; left: 1335px; top: 155px; }
#gs_w159 { height: 65px; width: 130px; left: 1825px; top: 155px; }
#Francesca_Stabile { height: 65px; width: 130px; left: 1965px; top: 155px; }
#gs_w160 { height: 65px; width: 130px; left: 2735px; top: 155px; }
#gs_w161 { height: 65px; width: 130px; left: 3435px; top: 155px; }
#gs_w162 { height: 65px; width: 130px; left: 3925px; top: 155px; }
#gs_w163 { height: 65px; width: 130px; left: 4135px; top: 155px; }
#Glenn_Ray { height: 65px; width: 130px; left: 4345px; top: 155px; }
#Cassie_Waduge { height: 65px; width: 130px; left: 4485px; top: 155px; }
#gs_w164 { height: 65px; width: 130px; left: 4695px; top: 155px; }
#gs_w165 { height: 5px; width: 130px; left: 285px; top: 140px; }
#gs_w166 { height: 5px; width: 130px; left: 845px; top: 140px; }
#gs_w167 { height: 5px; width: 130px; left: 985px; top: 140px; }
#gs_w168 { height: 5px; width: 130px; left: 1125px; top: 140px; }
#gs_w169 { height: 5px; width: 130px; left: 1335px; top: 140px; }
#gs_w170 { height: 5px; width: 130px; left: 1545px; top: 140px; }
#gs_w171 { height: 5px; width: 130px; left: 1685px; top: 140px; }
#gs_w172 { height: 5px; width: 130px; left: 1825px; top: 140px; }
#gs_w173 { height: 5px; width: 130px; left: 1965px; top: 140px; }
#gs_w174 { height: 5px; width: 130px; left: 2735px; top: 140px; }
#gs_w175 { height: 5px; width: 130px; left: 3435px; top: 140px; }
#gs_w176 { height: 5px; width: 130px; left: 3785px; top: 140px; }
#gs_w177 { height: 5px; width: 130px; left: 3925px; top: 140px; }
#gs_w178 { height: 5px; width: 130px; left: 4135px; top: 140px; }
#gs_w179 { height: 5px; width: 130px; left: 4345px; top: 140px; }
#gs_w180 { height: 5px; width: 130px; left: 4485px; top: 140px; }
#gs_w181 { height: 5px; width: 130px; left: 4695px; top: 140px; }
#gs_w182 { height: 65px; width: 130px; left: 285px; top: 65px; }
#gs_w183 { height: 65px; width: 130px; left: 1825px; top: 65px; }
#gs_w184 { height: 65px; width: 130px; left: 2735px; top: 65px; }
#gs_w185 { height: 65px; width: 130px; left: 3855px; top: 65px; }
#gs_w186 { height: 65px; width: 130px; left: 4065px; top: 65px; }
#gs_w187 { height: 65px; width: 130px; left: 4205px; top: 65px; }
#gs_w188 { height: 65px; width: 130px; left: 4345px; top: 65px; }
#Adam_Ray { height: 65px; width: 130px; left: 4485px; top: 65px; }
#Michelle_You { height: 65px; width: 130px; left: 4695px; top: 65px; }
#gs_w189 { height: 65px; width: 130px; left: 1825px; top: 35px; }
#gs_w190 { height: 65px; width: 130px; left: 1965px; top: 35px; }
#gs_w191 { height: 65px; width: 130px; left: 2105px; top: 35px; }
#gs_w192 { height: 65px; width: 130px; left: 2245px; top: 35px; }
#gs_w193 { height: 65px; width: 130px; left: 2385px; top: 35px; }
#gs_w194 { height: 65px; width: 130px; left: 2525px; top: 35px; }
#Dan_Crow { height: 65px; width: 130px; left: 2735px; top: 35px; }
#Adam_Schiffer { height: 65px; width: 130px; left: 3855px; top: 35px; }
#Josh_Block { height: 65px; width: 130px; left: 285px; top: 5px; }
#gs_w195 { height: 65px; width: 130px; left: 425px; top: 5px; }
#gs_w196 { height: 65px; width: 130px; left: 565px; top: 5px; }
#gs_w197 { height: 65px; width: 130px; left: 705px; top: 5px; }
#gs_w198 { height: 65px; width: 130px; left: 845px; top: 5px; }
#gs_w199 { height: 65px; width: 130px; left: 985px; top: 5px; }
#gs_w200 { height: 65px; width: 130px; left: 1125px; top: 5px; }
#gs_w201 { height: 65px; width: 130px; left: 1265px; top: 5px; }
#gs_w202 { height: 65px; width: 130px; left: 1405px; top: 5px; }
#gs_w203 { height: 65px; width: 130px; left: 1545px; top: 5px; }
#gs_w204 { height: 65px; width: 130px; left: 1685px; top: 5px; }
#Matt_Jones { height: 65px; width: 130px; left: 1825px; top: 5px; }

.gridster { width: 4950px; }
.gridster ul { height: 975px; }

#Karim-Dia_Toubajie .name.longName span:last-of-type {
	display: block;
}
#Stephen_Vallimarescu .name.longName {
	padding-top: 3px;
}