
[class^="icon-"], [class*=" icon-"] {
    position: absolute;
    top: 50%;
    -ms-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    left: 0px;
}


/*////////// Breakout Popup //////////////////*/

.md-modal {
	top: 40%;
	left: 50%;
	width: 90%;
	max-width: 640px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	@include centered();
	position: fixed;
}
.md-show {
	visibility: visible;
}
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0; background: rgba(248,0,70,0.8); -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-content {
	color: #555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.modal_tag {
    padding: 20px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 300;
    float: left;
    width: 100%;
    font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    color: #3a3a3a;
}
.mugShot {
	float: left;
	width: 51.75%;
}
.mugShot img {
    width: 100%;
}
.mugShot img:hover {
    opacity: 0;
}
.details {
    float: right;
    width: 48.25%;
    padding-left: 3%;
}
.details ul {
    padding-left: 0;
}
.contact li {
    float: left;
    display: block;
    position: relative;
    padding-left: 20px;
    line-height: 1.3;
    clear: both;
}
.details .title {
    margin: 0;
    font-size: 14px;
}
.details .name {
    font-size: 20px;
    margin: 0;
    font-weight: 700;
}
.numbers {
    display: inline-block;
}
.numbers:after, .contact:after {
    content: "";
    clear: both;
    display: table;
}
.numbers span {
    clear: left;
    float: left;
}
.linkedIn a {
    text-decoration: none;
    color: inherit;
}
.flag {
    width: 40px;
    display: inline-block;
    height: 30px;
    vertical-align: top;
}
.flag.NY, .flag.TN, .flag.LA, .flag.WY {
    background: url("../images/USflag.png") no-repeat top left;
    background-size: 100%;
}
.flag.LN {
    background: url("../images/UKflag.png") no-repeat top left;
    background-size: 100%;
}
.location {
    line-height: 30px;
    vertical-align: top;
    padding-right: 5px;
}
.office {
    width: calc(100% + 10px);
    display: block;
    text-align: right;
}

.mugShot.Alyea_Afzal { background: url("../images/headshots/AlyeaAfzal_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ikhsan_Assaat { background: url("../images/headshots/IkhsanAssaat_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jon_Attfield { background: url("../images/headshots/JonAttfield_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Bel_Aztiria { background: url("../images/headshots/BelAztiria_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dan_Bagnall { background: url("../images/headshots/DanBagnall_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Josh_Baron { background: url("../images/headshots/JoshBaron_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Vivien_Barousse { background: url("../images/headshots/VivienBarousse_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Alexsis_Bass { background: url("../images/headshots/AlexsisBass_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Laura_Becker { background: url("../images/headshots/LauraBecker_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sabina_Bejasa-Dimmock { background: url("../images/headshots/SabinaBejasa-Dimmock_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jesse_Bellin { background: url("../images/headshots/JesseBellin_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Alexey_Blinov { background: url("../images/headshots/AlexeyBlinov_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Josh_Block { background: url("../images/headshots/JoshBlock_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kyle_Bolt { background: url("../images/headshots/KyleBolt_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sam_Briggs { background: url("../images/headshots/SamBriggs_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gideon_Bullock { background: url("../images/headshots/GideonBullock_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Shaun_Burke { background: url("../images/headshots/ShaunBurke_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Caitlin_Came { background: url("../images/headshots/CaitlinCame_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gonzalo_Castro { background: url("../images/headshots/GonzaloCastro_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Steve_Cielinski { background: url("../images/headshots/SteveCielinski_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Mitch_Clark { background: url("../images/headshots/MitchClark_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tom_Clarke { background: url("../images/headshots/TomClarke_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dan_Crow { background: url("../images/headshots/DanCrow_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Meredith_Croy { background: url("../images/headshots/MeredithCroy_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sarah_Dear { background: url("../images/headshots/SarahDear_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Andy_Deeley { background: url("../images/headshots/AndyDeeley_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jiv_Dhaliwal { background: url("../images/headshots/JivDhaliwal_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jason_Dierkes { background: url("../images/headshots/JasonDierkes_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kalyn_Dobbs { background: url("../images/headshots/KalynDobbs_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Bill_Domanick { background: url("../images/headshots/BillDomanick_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Christine_Dombrowski { background: url("../images/headshots/ChristineDombrowski_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Mac_Donoghue { background: url("../images/headshots/MacDonoghue_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kendyl_Dunn { background: url("../images/headshots/KendylDunn_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Noel_Edwards { background: url("../images/headshots/NoelEdwards_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dean_Elbaz { background: url("../images/headshots/DeanElbaz_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ewan_Eyre { background: url("../images/headshots/EwanEyre_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ricky_Faillace { background: url("../images/headshots/RickyFaillace_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Stephen_Field { background: url("../images/headshots/StephenField_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Andrea_Frey { background: url("../images/headshots/AndreaFrey_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.James_Gibb { background: url("../images/headshots/JamesGibb_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Stephen_Glicken { background: url("../images/headshots/StephenGlicken_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Brigitte_Gomez { background: url("../images/headshots/BrigitteGomez_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lauren_Gottlieb { background: url("../images/headshots/LaurenGottlieb_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Elliot_Hancock { background: url("../images/headshots/ElliotHancock_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lydia_Hecomovich { background: url("../images/headshots/LydiaHecomovich_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Eddie_Herdemian { background: url("../images/headshots/EddieHerdemian_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Paul_Herdemian { background: url("../images/headshots/PaulHerdemian_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ryan_Herrmann { background: url("../images/headshots/RyanHerrmann_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Loren_Hinkson { background: url("../images/headshots/LorenHinkson_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ben_Hodgson { background: url("../images/headshots/BenHodgson_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Freya_Houlding { background: url("../images/headshots/FreyaHoulding_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jamie_Hughes { background: url("../images/headshots/JamieHughes_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Joey_Isaacson { background: url("../images/headshots/JoeyIsaacson_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gareth_Jones { background: url("../images/headshots/GarethJones_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Matt_Jones { background: url("../images/headshots/MattJones_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kim_Knup { background: url("../images/headshots/KimKnup_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Paul_Lawson { background: url("../images/headshots/PaulLawson_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sabrina_Leandro { background: url("../images/headshots/SabrinaLeandro_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tracey_Lee-Joe { background: url("../images/headshots/TraceyLee-Joe_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Yi_Lin { background: url("../images/headshots/YiLin_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Anastasia_Lopez { background: url("../images/headshots/AnastasiaLopez_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dan_Lucraft { background: url("../images/headshots/DanLucraft_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.David_MacGladrie { background: url("../images/headshots/DavidMacGladrie_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Christian_Marchand { background: url("../images/headshots/ChristianMarchand_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lee_Martin { background: url("../images/headshots/LeeMartin_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Michael_May { background: url("../images/headshots/MichaelMay_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tom_May { background: url("../images/headshots/TomMay_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.JD_May { background: url("../images/headshots/JDMay_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Taylor_McDermott { background: url("../images/headshots/TaylorMcDermott_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Mark_McIntyre { background: url("../images/headshots/MarkMcIntyre_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Callum_Merriman { background: url("../images/headshots/CallumMerriman_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Andy_Mitchell { background: url("../images/headshots/AndyMitchell_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Charlie_Morrison { background: url("../images/headshots/CharlieMorrison_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Aaron_Neigher { background: url("../images/headshots/AaronNeigher_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Matthew_Nelson { background: url("../images/headshots/MatthewNelson_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sean_OKeeffe { background: url("../images/headshots/SeanOKeeffe_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Michael_Orland { background: url("../images/headshots/MichaelOrland_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Marc_Pacheco { background: url("../images/headshots/MarcPacheco_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Wilson_Palmer { background: url("../images/headshots/WilsonPalmer_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ian_Petts { background: url("../images/headshots/IanPetts_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Amy_Phillips { background: url("../images/headshots/AmyPhillips_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Romain_Piel { background: url("../images/headshots/RomainPiel_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Amy_Polacsek { background: url("../images/headshots/AmyPolacsek_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Paula_Lopez-Pozuelo { background: url("../images/headshots/PaulaLopezPozuelo_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Mizanur_Rahman { background: url("../images/headshots/MizanurRahman_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tom_Ralston { background: url("../images/headshots/TomRalston_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Aaron_Randall { background: url("../images/headshots/AaronRandall_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Adam_Ray { background: url("../images/headshots/AdamRay_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Glenn_Ray { background: url("../images/headshots/GlennRay_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Adam_Raza { background: url("../images/headshots/AdamRaza_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Alex_Reade { background: url("../images/headshots/AlexReade_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Arnaud_Rinquin { background: url("../images/headshots/ArnaudRinquin_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Aaron_Rodgers { background: url("../images/headshots/AaronRodgers_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Megan_Rondeau { background: url("../images/headshots/MeganRondeau_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sam_Rudge { background: url("../images/headshots/SamRudge_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Elena_Sansigre-Silva { background: url("../images/headshots/ElenaSansigreSilva_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sam_Saunders { background: url("../images/headshots/SamSaunders_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ian_Schiffer { background: url("../images/headshots/IanSchiffer_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Adam_Schiffer { background: url("../images/headshots/AdamSchiffer_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Adam_Schuster { background: url("../images/headshots/AdamSchuster_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Emily_Sergent { background: url("../images/headshots/EmilySergent_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Alex_Shellim { background: url("../images/headshots/AlexShellim_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Igor_Shpakov { background: url("../images/headshots/IgorShpakov_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ryan_Simms { background: url("../images/headshots/RyanSimms_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Paul_Springett { background: url("../images/headshots/PaulSpringett_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Francesca_Stabile { background: url("../images/headshots/FrancescaStabile_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jack_Stephens { background: url("../images/headshots/JackStephens_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Nina_Thistlethwaite { background: url("../images/headshots/NinaThistlethwaite_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Karim-Dia_Toubajie { background: url("../images/headshots/Karim DiaToubajie_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Matt_Vail { background: url("../images/headshots/MattVail_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Stephen_Vallimarescu { background: url("../images/headshots/StephenVallimarescu_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jenny_Verdon { background: url("../images/headshots/JennyVerdon_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Cassie_Waduge { background: url("../images/headshots/CassieWaduge_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Leonie_Wakeman { background: url("../images/headshots/LeonieWakeman_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Merry_Webster { background: url("../images/headshots/MerryWebster_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tom_Weir { background: url("../images/headshots/TomWeir_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.James_White { background: url("../images/headshots/JamesWhite_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jake_Williams { background: url("../images/headshots/JakeWilliams_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Michelle_Wood { background: url("../images/headshots/MichelleWood_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jamie_Wright { background: url("../images/headshots/JamieWright_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Michelle_You { background: url("../images/headshots/MichelleYou_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }


/*////////// Breakout Popup Styling //////////*/

.md-content {
	width: 100%;
	color: $primary-font-color;
	background: #fff;
	position: relative;
	border-bottom: 12px solid darken($employee-color, 20%);
	margin: 0 auto;
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}

.md-effect.md-modal {
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
}

.md-effect .md-content {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(600px) rotateX(20deg); 
	-moz-transform: translateZ(600px) rotateX(20deg); 
	-ms-transform: translateZ(600px) rotateX(20deg); 
	transform: translateZ(600px) rotateX(20deg); 
	opacity: 0;
}

.md-effect.md-out .md-content {
	-webkit-transform: rotateX(0deg) translateY(-20%) translateZ(0px);
	-moz-transform: rotateX(0deg) translateY(-20%) translateZ(0px);
	-ms-transform: rotateX(0deg) translateY(-20%) translateZ(0px);
	transform: rotateX(0deg) translateY(-20%) translateZ(0px);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect .md-content {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	-webkit-transform: translateZ(0px) rotateX(0deg);
	-moz-transform: translateZ(0px) rotateX(0deg);
	-ms-transform: translateZ(0px) rotateX(0deg);
	transform: translateZ(0px) rotateX(0deg); 
	opacity: 1;
}

.blank { display: none !important; }
.empty { visibility: hidden !important; }