@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?cy06ap');
	src: url('fonts/icomoon.eot?cy06ap#iefix') format('embedded-opentype'),
		 url('fonts/icomoon.ttf?cy06ap') format('truetype'),
		 url('fonts/icomoon.woff?cy06ap') format('woff'),
		 url('fonts/icomoon.svg?cy06ap#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.04); border-radius: 5px; }
::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.1); border-radius: 5px; }

.icon-add:before { content: "\e900"; }
.icon-archive:before { content: "\e901"; }
.icon-clear:before { content: "\e902"; }
.icon-connector:before { content: "\e903"; }
.icon-deployr:before { content: "\e904"; }
.icon-edit:before { content: "\e905"; }
.icon-hop:before { content: "\e906"; }
.icon-insert_block:before { content: "\e907"; }
.icon-insert_divider:before { content: "\e908"; }
.icon-lock:before { content: "\e909"; }
.icon-name:before { content: "\e90a"; }
.icon-nope:before { content: "\e90b"; }
.icon-remove_block:before { content: "\e90c"; }
.icon-remove_divider:before { content: "\e90d"; }
.icon-remove:before { content: "\e90e"; }
.icon-reset:before { content: "\e90f"; }
.icon-save:before { content: "\e910"; }
.icon-tidy:before { content: "\e911"; }
.icon-working:before { content: "\e912"; }

.icon-reset:before {
	font-size: 15px;
}
.icon-remove:before {
	position: relative;
	top: 1px;
}
[class^="icon-"], [class*=" icon-"] {
	padding-right: 4px;
	position: relative;
	top: 1px;
}
.demo {
	margin: 203px 0 50px;
}
.content {
	width: 100%;
	float: left;
	margin: 25px auto;
	padding: 0 25px;
	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-o-transition: opacity .6s;
	-ms-transition: opacity .6s;
	transition: opacity .6s;
}
#log {
	display: block;
	width: 100%;
	max-width: 414px;
	height: 122px;
	overflow-y: scroll;
	margin: 0;
	border: 10px solid #fff;
	border-right: 2px solid #fff;
	border-left: 10px solid #fff;
	font-size: 12px;
	letter-spacing: .75px;
	-webkit-transition: height 0.3s ease;
	-moz-transition: height 0.3s ease;
	-ms-transition: height 0.3s ease;
	-o-transition: height 0.3s ease;
	transition: height 0.3s ease;
	opacity: 0;
	outline: 1px solid black;
}
#log.show {
	opacity: 1;
}
.controls {
	background: rgba(255,255,255,.75);
	height: 188px;
	position: fixed;
	width: 100%;
	z-index: 100;
	padding: 15px;
	top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.build {
	float: right;
	width: 463px;
}
.build hr {
	float: left;
	width: 1px;
	background: #ccc;
	border: 0;
	height: 34px;
	margin: 0 5px 0 17px;
}
.create.btn {
	border-color: #f80046;
	color: #f80046;
}
.create.btn:hover {
	border-color: #DF003F;
	background: #DF003F;
	color: #fff;
}
.btn {
	display: inline-block;
	padding: 5px 10px 5px 7px;
	border: 1px solid #3a3a3a;
	background: #fff;
	margin-left: 10px;
	border-radius: 3px;
	height: 34px;
	color: #3a3a3a;
	cursor: pointer;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	float: left;
	text-decoration: none;
}
.btn:hover, .btn:focus {
	border-color: #DF003F;
	color: #DF003F;
	outline: none;
}
.btn.active, .btn.active span {
	color: #f80046;
	border-color: #f80046;
}
button:disabled {
	opacity: .25;
}
#tidy {
	clear: left;
}
#seralize {
	height: 30px;
}

/*/ tabs /*/
.tab {
	position: relative;
	overflow: hidden;
	width: 100%;
	float: right;
	margin: 0;
	font-family: 'Open Sans', Helvetica, 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.5;
	font-weight: 300;
	color: #888;
	-webkit-font-smoothing: antialiased;
}
.tabs {
	display: table;
	position: relative;
	margin: 0;
	padding-left: 0;
	float: right;
}
.tabs li {
	float: left;
	line-height: 28px;
	padding: 0;
	position: relative;
	clear: left;
	min-width: 90px;
	margin-bottom: 2px;
}
.tabs li:last-child {
	margin-bottom: 0;
	min-width: 75px;
}
.tabs a {
	background-color: #f9f9f9;
	color: #888;
	font-weight: 500;
	display: block;
	letter-spacing: 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 1px solid #888;
	border-left: 0;
	border-top: 1px solid #888;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}
.tabs li button {
	width: 100%;
	margin-left: 0;
	border-left: 0;
	border-radius: 0;
	padding: 0;
	height: 35px;
	font-size: 13px;
	text-transform: uppercase;
}
.icon-save {
	padding-right: 5px;
}
.tab_content {
	display: table;
	width: auto;
	width: calc(100% - 90px);
	height: 158px;
	border: 1px solid #3a3a3a;
}
.tabs_item {
	display: none;
	vertical-align: top;
	float: left;
	padding: 15px 15px 15px 5px;
	width: 100%;
	height: 156px;
	background: #fff;
}
.tabs_item:first-child {
	display: block;
}
.grouping:last-child {
	margin-bottom: 0;
}
.grouping {
	display: inline-block;
	margin-bottom: 12px;
	float: left;
	max-width: 214px;
}
.grouping:last-child,
.grouping.tall button:last-child {
	margin-bottom: 0;
}
.grouping.tall {
	float: right;
	min-width: 115px;
	margin-bottom: 0;
	border-left: 1px solid #ccc;
	margin-left: 15px;
	padding-left: 5px;
}
.grouping button {
	min-width: 82px;
}
.grouping button {
	min-width: 97px;
}
.grouping.name button {
	width: 204px;
}
.grouping.name button:nth-child(2) {
	width: 134px;
}
.grouping.tall button {
	clear: both;
	margin-bottom: 12px;
	min-width: 106px;
}
.current a {
	color: #fff;
	font-weight: 600;
	background: #3a3a3a;
	border-color: #3a3a3a;
}
.trashed {
	display: none !important;
}
.gridster .gs_w.blocking,
.gridster .gs_w.divider.blocking {
	background: url('../images/blocking.png')repeat top left;
}
.gridster .gs_w.blocking.stepped {
	opacity: 0;
}
.gridster .gs_w.blocking.stepped:hover {
	opacity: 1;
}
.gridster .gs_w.blocking:after {
	opacity: .25;
}
.gs_w.box.nameDROP.name_holder {
	background: url('../images/typing.gif')no-repeat center center #fff;
}
.headerHider {
	width: 100%;
	padding-right: 536px;
}
#nameBank, .shield {
	width: 100%;
	float: left;
	overflow: scroll;
	position: relative;
	overflow-y: hidden;
}
.name_shield:after, #nameBank:after {
	content: "";
	clear: both;
	display: table;
}
.nameList, .shield {
	height: 111px;
	width: 3280px;
	display: block;
	padding-left: 2px;
	z-index: 101;
	margin: 33px 0 0;
	height: 130px;
}
.shield {
	z-index: 102;
	position: absolute;
	margin: 0;
	height: 146px;
	padding: 0;
	left: -15px;
}
.name_shield {
	z-index: 102;
	width: 130px;
	height: 65px;
	display: inline-block;
	position: relative;
}
.name_shield li {
	top: 0;
	left: 0;
}
.lablr {
	width: auto;
	display: inline-block;
	font-size: 14px;
	float: left;
	padding: 0 0 2px;
	clear: both;
}
.li_group {
	display: inline-block;
	font-size: 14px;
	float: left;
	padding-right: 15px;
}
.li_group ul {
	margin: 0;
	padding: 0;
}
.lablr.used label {
	opacity: .25;
}
.radioBtnClass {
	margin-right: 15px;
}
.presenter {
	line-height: 65px;
	font-size: 12px;
	font-weight: 400;
	position: relative;
}
.remover.icon-remove {
	display: inline-block;
	padding: 3px 4px 4px;
	border-radius: 50%;
	color: #C0C0C0;
	border: 2px solid #C0C0C0;
	font-size: 8px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 200;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.remover.icon-remove:hover {
	color: #f80046;
	border-color: #f80046;
}
.hide {
	display: none;
}
.hide, .based {
	opacity: 0;
}
.gs_w.box.active .remover, .gs_w.box.quickOut .remover {
	opacity: 1;
}


/*/ List sorter /*/
/* For more information, visit http://www.ihwy.com/Labs/jquery-listnav-plugin.aspx */

.ln-letters {
	overflow: hidden;
	position: fixed;
}
.ln-letters a,
.ln-letters .empty {
	font-size: 0.9em;
	display: block;
	float: left;
	padding: 2px 5px;
	margin: 0 3px;
	color: #3a3a3a;
	text-decoration: none;
	position: relative;
}
.ln-letters a:after,
.ln-letters .empty:after {
	content: "•";
	position: absolute;
	right: -6px;
	color: #c0c0c0;
	font-weight: 200;
	display: none;
}
.ln-letters a.ln-last:after,
.ln-letters .empty.ln-last:after {
	content: "";
}
.ln-letters a:hover,
.ln-letters a.ln-selected,
.ln-letters .empty.ln-selected {
	color: #f80046;
	font-weight: 600;
	background-color: rgba(248,0,70,.1);
}
.ln-letters a:hover {
	background-color: transparent;
}
.ln-letters a.ln-disabled,
.ln-letters .empty.ln-disabled {
	color: #ccc;
}
.ln-letter-count {
	text-align: center;
	font-size: 0.8em;
	line-height :1;
	margin-bottom: 3px;
	color: #336699;
}
._.ln-disabled {
	display: none;
}